.form{
    /* background-color: red; */
    margin-top: 0%;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.top{
    /* margin-bottom: -35%; */
    padding: 0;
    /* background-color: blue; */
    width: 85%;
    display: flex;
    flex-direction: column;
    color: rgba(79, 78, 78, 0.924);
    line-height: 1em;
    margin-bottom: 7%;
    margin-left: 2%;
}
html, body{
    margin: 0;
    padding: 0;
}
/* .message{
    background-color: purple;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
} */
label{
    /* padding: 0; */
    margin: 0;
    justify-content: left;
    text-align: left;
    text-align: left !important;
    justify-content: left;
    align-items: left;
    /* background-color: yellow; */
    margin: 0 auto;
    float: left;
    margin-left: 0;
    color: rgba(3, 2, 2, 0.838);
    font-family: monospace;
}
form{
    /* background-color: pink; */
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-size: larger;
    display: flex;
    flex-direction: column;
}
input{
    /* width: 100%; */
    /* padding: 3% 30%  3% 30%; */
    text-align: left;
    height: 6vh;
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.113);
    border-width: 0.125em;
    padding-right: 10%;
    margin: 0;
    margin-bottom: 5%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.094);
}
button{
    background-color: rgb(14, 118, 246);
    padding: 3% 0 3% 0%;
    margin-top: 3%;
    width: 90%;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    justify-content: center;
    margin: 0 auto;
    border: none;
}
textarea{
    resize: none;
    height: 20vh;
    /* width: 50%; */
    text-align: justify;
    /* font-size: 1em; */
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 18px; */
    overflow: hidden;
    padding-right: 20%;
    border: solid rgba(0, 0, 0, 0.113);
    border-width: 0.125em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.094);
    border-radius: 0.5em;
    margin-bottom: 5%;
}
.check{
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    color: rgba(79, 78, 78, 0.924);
    /* justify-content: space-between; */
}
#check{
    /* height: 7vh; */
    width: 4%;
    margin-top: -1%;
    box-shadow: none;
    /* background-color: yellow; */
    /* color: red; */
    /* border-radius:  !important; */
    /* padding: 14vh; */
}
#check:checked{
    /* color: red; */
    /* background-color: blue; */
    width: 10%;
}
.msg{
    /* background-color: blue; */
    float: left;
    margin-left: 1%;
}
#footer{
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    width: 100%;
    text-transform: uppercase;
    /* margin-left: 2%; */
    /* background-color: yellow; */
    justify-content: space-between;
    /* align-items: center; */


}
.zuri{
    line-height: 3vh;
    margin-left: 2%;
}
.i4g{
    margin-right: 1%;
    float: right;
    /* position: absolute; */
    width: 5em;
}
.copy{
    text-align: center;
    color: rgba(15, 15, 15, 0.872);
    margin-top: 4%;
}
#spa{
    display: inline-block;
    min-height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background-color: red;
    /* z-index: 2; */
}
@media screen and (min-width:400px) {
    #footer{
        /* margin-top: 10%; */
        display: flex;
        flex-direction: row;
        width: 100%;
        text-transform: uppercase;
        /* background-color: yellow; */
        justify-content: space-between;
    
    }
    .i4g{
        width: 10%;
        margin-top: 3%;
    }
    .zuri{
        /* line-height: 3vh; */
        margin-bottom: 0;
        padding-top: 4%;
        /* background-color: red; */
        width: 50%;
        font-size: 1em;
    }
    button{
        padding: 1em;
        width: 90%;
    }
}

/* desktop view */
@media screen and (min-width:400px) {
    .form{
        /* background-color: red; */
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .firstname{
        /* background-color: blue; */
        float: left;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .lastname{
        /* background-color: pink; */
        float: left;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    #first_name{
        padding: 0%;
        margin: 0;
        /* float: left; */
        /* margin-top: 8%; */
        /* width: 10em; */
        margin-right: 3%;
        /* padding-right: 45%; */
      
    }
    #last_name{
        /* margin-top: 8%; */
        /* float: left; */
        margin-left: 0;
        padding: 0;
        /* width: 50%; */
        /* padding-right: 45%; */
    }
   
    /* #email{
        /* width: 100%; */
    .f1{
        display: flex;
        flex-direction: row;
        /* background-color: yellow; */
        width: 100%;
        align-items: left;
        text-align: left;
        padding: 0;
        justify-content: space-between;
    }
    .lab{
        margin-right: -7%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        /* background-color: pink; */
        width: 100%;
    }
    .top{
        margin: 0 auto;
        /* background-color: red; */
        width: 70%;
        margin-bottom: 7%;
    }
    .check{
        /* background-color: red; */
        margin-top: 0%;
        width: 90%;
        margin-bottom: 0;
    }
    #check{
        width: 1em;
    }
    textarea{
        height: 30vh;
    }
}